:root {
    --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*1rem igual a 10px*/
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    background: rgb(5,5,5);
background: linear-gradient(90deg, rgba(5,5,5,1) 5%, rgba(20,11,51,1) 50%, rgba(3,2,2,1) 100%);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  }
  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

  #particles-js {
    width: 100%;
    height: 100vh;
  }
  /* globales */
  h1,
  h2,
  h3 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
  }
  
  h1 {
    font-size: 5rem;
  }
  
  h2 {
    font-size: 4rem;
  }
  
  h3 {
    font-size: 3rem;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  .contenedor {
    max-width: 120rem;
    margin: 0 auto;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  .btn {
    background-color: #8cbc00;
    color: #ffffff;
    padding: 1rem;
    display: block;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: .3rem;
    text-align: center;
    transition: .5s ease-in-out; 
    border: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #769c02;
    font-size: 1.8rem;
    
  }
  
  /* Utilidades */
  
  .text-center {
    text-align: center;
  }
  
  .max-width-30 {
    max-width: 30rem;
  }
  ::-webkit-scrollbar {
    display: none;
}

  
  main {
    margin-left: 5rem;
    padding: 1rem;
  }
  
  .navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: scroll;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .fa-primary {
    color: #ff7eee;
  }
  
  .fa-secondary {
    color: #df49a6;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
      transition: ease-in-out .5s;
    }
  
    .navbar:hover {
      height: 7rem;
    }
    .navbar:hover .link-text {
      display: inline;
      font-size: .8rem;
    }
    
  
    .navbar-nav {
      flex-direction: row;
    }
    .navbar:hover .logo svg {
      transform: rotate(-90deg);
    }
    .nav-link {
      justify-content: center;
      height: 6rem;
    }

    .navbar:hover .nav-link{
      display: flex;
      height: 8rem;
      flex-direction: column-reverse;

    }
  
    main {
      margin: 0;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
    .navbar:hover {
      width: 18rem;
    }
    
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 12rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }
  
  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
  }
  
  .solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .solar #solarIcon {
    display: block;
  }