:root {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  --logotipo: #1a1a1a;
  --profesion: #f2f2f2;
  --primario: #2e5fff;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /*1rem igual a 10px*/
  list-style: none;
  scrollbar-width:none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  scrollbar-width:0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  background: rgb(5, 5, 5);
  background: linear-gradient(90deg, rgba(5, 5, 5, 1) 5%, rgba(20, 11, 51, 1) 50%, rgba(3, 2, 2, 1) 100%);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  cursor: url(../cursor/target.png) auto !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#particles-js {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

/* globales */
h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
  margin: 0 0 5rem 0;
}

h1 {
  font-size: 5rem;
}

ul {
  list-style: none;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: #000;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

.btn {
  background-color: #8cbc00;
  color: #ffffff;
  padding: 1rem;
  display: block;
  font-weight: 900;
  text-transform: uppercase;
  border-radius: .3rem;
  text-align: center;
  transition: .5s ease-in-out;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #769c02;
  font-size: 1.8rem;

}

/* Utilidades */

.text-center {
  text-align: center;
}

.max-width-30 {
  max-width: 30rem;
}

::-webkit-scrollbar {
  display: none;
}


main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  z-index: 11;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -99rem;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* contenido main  */

.flags {
  width: 7.5rem;
  position: fixed;
  right: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flags_item {
  width: 3rem;
}

.flags_img {
  cursor: pointer;
}

/*text de bienvenida */

.logotipo {
  padding: 1rem;

  color: var(--profesion);
}

.logotipo:hover {
  color: #df49a6;
}

.logotipo .subtitulo {
  text-align: center;
  color: #df49a6;
  background: var(--bg-secondary);
  padding: 1.2rem 2rem;
  margin: 0 auto;
  border-radius: 1rem;
  transition: .5s ease all;
  font-size: 2rem;
  font-family: 'Noto Sans', sans-serif;
  text-transform: uppercase;

  font-family: 'Lato', sans-serif;
  font-family: 'Silkscreen', cursive;
}

.logotipo:hover .subtitulo {
  background: #df49a6;
  color: var(--profesion);
}

.texto-animado {
  display: flex;
  justify-content: center;
  overflow: hidden;

}

.texto-animado>div {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: .3s ease all;
}

.texto-animado>div.animacion {
  transform: translateY(-10rem);
}

.texto-animado>div span {
  font-size: 5rem;
  font-weight: normal;
  line-height: 8rem;
}

.texto-animado .segunda-linea {
  position: absolute;
  top: 10rem;
}

/* Grid portada */

.grid_portada {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.gabriel {
  width: 22rem;
  border-radius: 50%;
  margin: 0 auto;
  filter: blur(1.5px);
  border: 1rem solid var(--bg-primary);
  transition: .7s ease-in-out;
}

.gabriel:hover {
  transform: scale(1.1);
  border-color: #df49a6;
  filter: blur(0);
}

.redes {
  display: flex;
  justify-content: space-around;

}

.redes a {
  font-size: 3rem;
  color: #df49a6;
  transition: .5s ease-in-out;
}

.redes a:hover {
  font-size: 3.5rem;
  color: #ffffff;
}

.content-footer {
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-family: 'Silkscreen', cursive;
  padding: 3rem;
  font-weight: 600;
}

.contain_cv {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contain_cv a {
  background-color: var(--bg-secondary);
  color: #df49a6;
  padding: 1rem;
  border-radius: 1rem;
  transition: .7s ease-in-out;

}

.contain_cv a:hover{
  background: #df49a6;
  color: var(--profesion);
}

/* Sobre mi */

.about-me {
  margin: 8rem auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-secondary);
  padding: 4rem 0;
  border-radius: 1rem;
  width: 80%;
  color: var(--text-secondary)
}

.about-me h1 {
  font-size: 2rem;
  margin-bottom: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'Silkscreen', cursive;
}

.about-me img {
  width: 20rem;
  border: 1rem solid var(--bg-primary);
  border-radius: 50%;
  transition: .7s ease-in-out;
}

.palabras-claves {
  color: #8438ff;
}

.about-me img:hover {
  transform: scale(1.1);
  border-color: #8438ff;
}

.titulo-sobre h2 {
  margin: 0;
}

.titulo-sobre p {
  font-size: 1.4rem;
  font-weight: 600;
}

.descripcion {
  padding: 0 10rem;
  text-align: justify;
}

/* habilidades blandas */

.habilidades-blandas {
  margin: 8rem auto;
  background-color: var(--bg-secondary);
  padding: 4rem 2rem;
  border-radius: 1rem;
  width: 70%;
  color: var(--text-secondary)
}


.contenedor-habilidades {
  width: 100%;
}

.contenedor-habilidades h3 {
  letter-spacing: 0.2rem;
}

.hab:not(:last-child) {
  margin-bottom: 3rem;
}

.detalles {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}


.menu {
  position: relative;
  border: 0.1rem solid #8438ff;
  border-radius: 2rem;
}

.menu div {
  position: relative;
  width: 0;
  height: 1rem;
  border-radius: 1rem;
  background-color: #8438ff;
}

/* Animacion */

#comunicacion-mu {
  animation: comunicacion-barra 3s forwards;
}


@keyframes comunicacion-barra {
  100% {
    width: 90%;
  }
}

#flexibilidad-mu {
  animation: flexibilidad-barra 2s forwards;
}


@keyframes flexibilidad-barra {
  100% {
    width: 95%;
  }
}

#resolucion-mu {
  animation: resolucion-barra 5s forwards;
}


@keyframes resolucion-barra {
  100% {
    width: 80%;
  }
}

#pro-mu {
  animation: pro-barra 3s forwards;
}


@keyframes pro-barra {
  100% {
    width: 90%;
  }
}

#trabajo-mu {
  animation: trabajo-barra 4s forwards;
}


@keyframes trabajo-barra {
  100% {
    width: 85%;
  }
}

/* EDUCACION */

.educacion {
  margin: 8rem auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-secondary);
  padding: 4rem 2rem;
  border-radius: 1rem;
  width: 80%;
  color: var(--text-secondary)
}

.universidad h2 {

  margin: 0;
}

.educacion h1 {
  letter-spacing: 0.2rem;
  margin-bottom: 0;

}

.frase-estu {
  font-family: 'Lato', sans-serif;
  font-family: 'Silkscreen', cursive;
  font-size: 1.2rem;
  margin: 0 0 8rem;
}



.universidad {
  border-left: 0.5rem solid #df49a6;
  padding: 0 4rem;
  position: relative;


}

.bola1,
.bola2,
.bola3 {
  position: absolute;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: var(--bg-secondary);
  border: 0.5rem solid #df49a6;
}


.bola1 {
  top: 33.5%;
  left: -1.2%;
}

.bola2 {
  top: 10%;
  left: -1.2%
}

.bola3 {
  bottom: 2%;
  left: -1.2%;
}

.flex-universidad {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap-reverse;
  color: #df49a6;
  font-family: 'Lato', sans-serif;
  font-family: 'Silkscreen', cursive;
}

.universidad-img {
  width: 13rem;
  height: 13rem;
}

.academlo-img {
  width: 13rem;
  height: 16rem;
}

/*  Works    */


.works {
  margin: 8rem auto;
  text-align: center;
  background-color: var(--bg-secondary);
  padding: 4rem 2rem;
  border-radius: 1rem;
  width: 80%;
  color: var(--text-secondary)
}

.works h1 {
  letter-spacing: 0.2rem;
}

.botones-show {
  display: flex;
  justify-content: center;
}

.botones-show button {
  border: 0.1rem solid var(--text-secondary);
  padding: 2rem 4rem;
  margin: 4rem 0;
  font-weight: 600;
  color: var(--text-secondary);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.botones-show button:hover {
  background-color: #9b3575c9;
}

.container-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  transition: 0.7s ease-in-out;
}


.container-skills .figure {
  position: relative;
  overflow: hidden;
  width: 17rem;
  height: 17rem;
  border-radius: 3rem;
  transition: all 0.2s ease;

}

.container-skills .figure:hover {
  border: 0.5rem solid black;
}

.container-skills img {
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;

}

.container-skills .figure:hover .capa {
  opacity: 1;
  visibility: visible;
}

.container-skills .figure:hover img {
  transform: scale(1.3);

}


.container-skills .capa {
  position: absolute;
  width: 100%;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-family: 'Silkscreen', cursive;
  height: 100%;
  font-size: 1.5rem;
  top: 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(0.5px);
  background-color: #161616dc;
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.container-proyectos {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.container-proyectos .figure {
  position: relative;
  overflow: hidden;
  width: 30rem;
  height: 25rem;
  border-radius: 1rem;
}

.container-proyectos img {
  height: 100%;
  transition: all 0.5s ease-in-out;
  filter: opacity(0.4) drop-shadow(0 0 0 rgb(42, 22, 95));
  object-fit: cover;
}

.container-proyectos .capa {
  position: absolute;
  width: 100%;
  color: var(--bg-primary);
  font-family: 'Lato', sans-serif;
  font-family: 'Silkscreen', cursive;
  height: 100%;
  font-size: 1.3rem;
  top: 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);
  background-color: #9b3576a8;
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.capa h3 {
  font-family: 'Lato', sans-serif;
  font-family: 'Silkscreen', cursive;
  font-size: 1.8rem;
}

.container-proyectos .figure:hover .capa {
  opacity: 1;
  visibility: visible;
}

.container-proyectos .figure:hover img {
  transform: scale(1.3);
}


/* Contacto  */

.contactame {
  margin: 8rem auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-secondary);
  padding: 4rem 2rem;
  color: var(--text-secondary);
  border-radius: 1rem;
  width: 80%;

}

.figure

.contactame h1 {
  letter-spacing: 0.2rem;
}


.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 2rem;
  outline: none;
  border-radius: 1rem;
  background-color: hsla(0, 0%, 100%, .1);
  border: 0.1rem solid #ffffff;
  color: var(--text-secondary);
  font-weight: 400;
}

.enviar {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}

.enviar:hover {

  background-color: #b43d86a9;
}

.contact-form button {
  padding: 1.5rem 3rem;
  border: 0.1rem solid #ffffff;
  color: #ffffff;
  border-radius: 1rem;
  font-weight: 600;

}

.contact-form form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Lato', sans-serif;
  font-family: 'Silkscreen', cursive;
}







/* Small screens */
@media only screen and (max-width: 600px) {

  .contain_cv a{
    font-size: 1.2rem;
  }
  /* Contacto  */
  .contactame {
    width: 90%;
  }

  .information {
    font-size: 1rem;
  }

  .contactame h1 {
    letter-spacing: 0.2rem;
    font-size: 3rem;
  }

  .contact-form form input,
  .contact-form form textarea {
    font-size: 1rem;
    padding: 1rem;
    font-weight: 600;
  }

  .enviar {
    font-size: 2rem;
  }


  /*  Works    */


  .works {
    
    width: 90%;
    padding: 3rem 1rem;
  }

  .works h1 {
    letter-spacing: 0.2rem;
    font-size: 4rem;
  }


  .botones-show button {
    font-size: 1.2rem;
    padding: 1rem 3rem;
    margin: 0 0 3rem;
  }

  .container-skills {
    gap: 1rem;
  }

  .container-skills .figure {
    position: relative;
    overflow: hidden;
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
    transition: all 0.2s ease;

  }
 
  .container-skills .capa h3{
    font-size: 1rem;
    font-weight: 600;
  }


  .container-proyectos .figure {
    position: relative;
    overflow: hidden;
    width: 20rem;
    height: 15rem;
    border-radius: 1rem;
  }

  .container-proyectos img {
    height: 100%;
    transition: all 0.5s ease-in-out;
    object-fit: cover;
  }

  .container-proyectos .capa {
    font-size: 0.8rem;
    top: 0;
    opacity: 1;
    visibility: visible;
    padding: 0 1rem;
    color: #ffff;
    backdrop-filter: blur(3px);
    background-color: #351027c0;
  }

  .capa h3 {
    font-family: 'Lato', sans-serif;
    font-family: 'Silkscreen', cursive;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem;
    margin: 1.5rem 0;

  }


  .titulo-sobre h2 {
    margin: 0;
    font-size: 3rem;
  }

  .educacion h1 {
    font-size: 3rem;

  }

  .flex-universidad {
    background-color: var(--bg-primary);
    padding: 1rem;
    font-size: 0.8rem;
    border-radius: 1rem;
  }

  .universidad {
    padding: 0 2rem;
    border-left: 0.4rem solid #df49a6;
  }

  .bola1,
  .bola2,
  .bola3 {
    position: absolute;
    border-radius: 50%;
    padding: 0.4rem;
    border: 0.3rem solid #df49a6;
  }

  .raya1,
  .raya2,
  .raya3 {

    display: none;
  }

  .bola1 {
    top: 27.5%;
    left: -3%;
  }

  .bola2 {
    top: 4%;
    left: -3%
  }

  .bola3 {
    bottom: 2%;
    left: -3%;
  }

  .flex-universidad ul {
    padding: 0;
  }

  .universidad h2 {
    font-size: 2rem;
    line-height: 3rem;
  }

  .container-educacion {
    font-size: 1rem;
  }

  .frase-estu {
    font-size: 0.8rem;
    text-align: center;
  }

  .contenedor-habilidades h3 {
    font-size: 2rem;
  }

  .universidad-img {
    width: 6rem;
    height: 6rem;
  }

  .academlo-img {
    width: 6rem;
    height: 9rem;
  }

  .about-me {
    height: 70rem;
  }

  .about-me img {
    width: 15rem;
  }

  .about-me h1 {
    font-size: 1.2rem;
  }

  .titulo-sobre p {
    font-size: 1rem;
  }

  .detalles span {
    font-size: 1.2rem;
  }

  .descripcion-info {
    overflow: scroll;
  }

  .descripcion {
    padding: 0 2rem;
    font-size: 1.2rem;
    text-align: justify;

  }

  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    transition: ease-in-out .5s;
  }

  .content-footer {
    font-size: 1rem;

  }

  footer {
    height: 13rem;
  }

  .navbar:hover {
    height: 7rem;
  }

  .navbar:hover .link-text {
    display: inline;
    font-size: .8rem;
  }


  .navbar-nav {
    flex-direction: row;
  }

  .navbar:hover .logo svg {
    transform: rotate(-90deg);
  }

  .nav-link {
    justify-content: center;
    height: 6rem;
  }

  .navbar:hover .nav-link {
    display: flex;
    height: 8rem;
    flex-direction: column-reverse;

  }

  .flags {
    justify-content: space-around;
    width: 5rem;
    bottom: auto;
  }

  .flags_item {
    width: 2rem;
  }

  main {
    margin: 0;
  }

  .texto-animado>div span {
    font-size: 3rem;
    line-height: 50px;
  }

  .texto-animado .segunda-linea {
    top: 50px;
  }

  .texto-animado>div.animacion {
    transform: translateY(-50px);
  }

  .logotipo .subtitulo {
    font-size: 1.3rem;
    max-width: 30rem;
  }

  .gabriel {
    width: 18rem;
    filter: blur(0);
    margin: 0 auto;
  }

  .redes {
    justify-content: center;
    gap: 3rem;

  }

  .redes a {
    font-size: 1.5rem;

  }
}




/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .raya1,
  .raya2,
  .raya3 {
    display: none
  }

  .navbar:hover {
    width: 18rem;
  }


  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg {
    margin-left: 12rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}


.hidden {
  display: none;
}

.button-select {
  background-color: #9b3575c9;
}

.button-unselect {
  background-color: var(--bg-secondary);
}
